


body {
	background-color: #659e9d;
	color: black;
  padding: 10px 30px 50px 80px;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	width: 20%;
    
}
