


body {
	background-image:src ="https://www.wallpapertip.com/wmimgs/72-720590_bingo-ball-background.png";
	color: rgb(190, 139, 18);
    padding: 10px 30px 50px 80px;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	width: 20%;
    
}
